<img src="{{book.imageLinks.thumbnail}}" alt="front cover"></img>
<h1>{{book.title}} <div id="rating" data-score="{{book.averageRating}}"></div></h1>
<h2>{{book.subtitle}}</h2>
<h2><small>{{authors}} ({{book.publishedDate}})</small></h2>

<p>{{book.description}}</p>

<hr>

<form class="form-horizontal" id="main-form">
	<!-- TODO: grid formatting -->

	<input type="hidden" name="bookID" value="{{book.id}}" id="bookID">
	<div class="form-group">
		<label for="shelf" class="col-sm-2 control-label">Shelf:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="shelf" name="shelf" value="{{book.shelf}}">
		</div>
	</div>
	<div class="form-group">
		<!-- TODO: make this a spinner with validation -->
		<label for="position" class="col-sm-2 control-label">Position:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="position" name="position" value="{{book.position}}">
		</div>
	</div>
	<div class="form-group">
		<label for="notes" class="col-sm-2 control-label">Notes</label>
		<div class="col-sm-10">
			<textarea class="form-control" rows="5" id="notes" name="notes">{{book.notes}}</textarea>
		</div>
	</div>
	<div class="form-group">
			<button type="button" class="btn btn-primary" id="form-update">Update</button>
			<button type="button" class="btn btn-danger" id="form-delete">Delete</button>
			<button type="button" class="btn btn-info" id="form-cancel">Cancel</button>
		</div>
	</div>
</form>

<script>
$('#form-update').on('click', function (event) {
	$.ajax({
		data: $('#main-form').serialize(),
		method: 'POST',
		success: function (data, textStatus, jqXHR) {
			window.location.href = '/view?id=' + data._id;
		},
		url: '/rest/' + $('#bookID').val()
		// TODO: handle AJAX error
	});
});

$('#form-delete').on('click', function (event) {
	$.ajax({
		data: {delete: true},
		method: 'POST',
		success: function (data, textStatus, jqXHR) {
			window.location.href = '/';
		},
		url: '/rest/' + $('#bookID').val()
		// TODO: handle AJAX error
	});
});

$('#form-cancel').on('click', function (event) {
	window.location.href = '/view?id=' + $('#bookID').val();
	// TODO: redirect to '/view?id=' + 
});
</script>
